<section class="management-message py-5">
  <div class="container-xl pt-md-4 position-relative custom-width">
    <div class="row">
      <div class="col-lg-11 col-xl-10 mx-auto text-center">
        <div class="section-heading">
          <h6 style="font-family: 'Canela', serif;" class="all_heading  mb-4">Meet Our Founder</h6>
        </div>
        <div class="message-container bg-white shadow-sm">
          <div class="row">
            <div class="col-lg-11 mx-auto">
              <figure class="management-photo mb-3">
                <img
                  class="rounded-circle img-fluid d-block mx-auto"
                  src="https://cdn.shopify.com/s/files/1/0597/5080/9671/files/kartik-giri.jpg?v=1740123001"
                  alt=""
                >
              </figure>

              <div class="fs15 lh160">
                <p>{{ section.settings.founder_richtext }}</p>
                <p style="font-family: 'Lato', sans-serif;">
                  A visionary leader, a passionate entrepreneur, and a name synonymous with trust in the jewelry
                  industry—<strong>Kartik Giri</strong> is the driving force behind <strong>Zever4U</strong>, a unit of
                  <strong>Giri Zever Mehal</strong>, founded with a singular mission: to offer
                  <strong>exceptional quality jewellery at fair prices while upholding trust and transparency.</strong>
                </p>
                <p style="font-family: 'Lato', sans-serif;">
                  With an unwavering commitment to
                  <strong>craftsmanship, ethical practices, and customer satisfaction</strong>, Kartik Giri has
                  transformed his passion into a legacy. What began as a
                  <strong
                    >small, personal passion project—rooted in a deep appreciation for design and product quality—has
                    blossomed into a brand recognized for its unique blend of modern aesthetics and traditional
                    techniques.</strong
                  >
                </p>
                <p style="font-family: 'Lato', sans-serif;">
                  Each collection reflects the founder's commitment to
                  <strong>sustainability, ethics, and unparalleled craftsmanship</strong>, ensuring that every piece is
                  not just an accessory, but a meaningful work of art. Whether it's a
                  <strong
                    >delicate necklace that captures a moment or a bold statement piece that makes a lasting impression</strong
                  >, Kartik Giri believes that jewelry should
                  <strong>empower, inspire, and evoke a sense of wonder.</strong>
                </p>
                <p style="font-family: 'Lato', sans-serif;">
                  With an eye for detail and a commitment to excellence, Kartik Giri ensures that
                  <strong>only the finest materials are used</strong>, making every creation a true reflection of
                  <strong>quality, sophistication, and timeless beauty</strong>. Above all, his mission remains
                  unchanged:
                  <strong>to make every customer feel special with jewelry that tells their unique story.</strong>
                </p>
                <p style="font-family: 'Lato', sans-serif;">
                  <strong
                    >Thank you for being a part of the journey. We’re honored to share our passion with you.</strong
                  >
                </p>
              </div>
              <div style="font-family: 'Canela', serif;" class="mb-0 light-text fs15">Warm Regards,</div>
              <h5 style="font-family: 'Canela', serif;" class="mb-0 fs18 fw500">Kartik Giri</h5>
              <p style="font-family: 'Lato', sans-serif;" class="fs13 text-brand">Founder – Zever4U Pvt. Ltd.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<style>
  .management-message {
    position: relative;
    background: #cb8161;
  }
  .management-message:before {
    content: '';
    background-color: #fdfbf5;
    display: block;
    height: 340px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    border-radius: 0 0 80px 80px;
  }
  .management-photo img {
    border: 8px solid #fdfbf5;
  }
  .management-photo {
    margin: 0 auto;
    max-width: 250px;
    margin-top: -135px;
  }
  .message-container {
    padding: 40px 10px;
    margin-top: 110px;
  }
</style>
{% schema %}
{
  "name": "About Us Founder",
  "settings": [
    {
      "type": "richtext",
      "id": "founder_richtext",
      "label": "Founder Content"
    }
  ],
  "presets": [
    {
      "name": "About Us Founder"
    }
  ]
}
{% endschema %}
