<section class="inner-banner">
  <img class="contact_desktop_image" src="{{ section.settings.desktop_image |  image_url  }}">
  <div class="container h-100 custom-width">
    <div class="hero-text ">
      <h1 class="Banner-heading text-brand">{{ section.settings.heading }}</h1>
      <p>
        {{ section.settings.subheading }}
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua.
      </p>
    </div>
    `
  </div>
</section>
<style>
  .inner-banner:has(.contact_desktop_image) {
    display: flex;
    width: 100%;
    height: auto;
    aspect-ratio: 1280/500;
    overflow: hidden;
  }
  .contact_desktop_image {
    width: auto !important;
    height: 100% !important;
  }
</style>
{% schema %}
{
  "name": "Contact Page Banner",
  "settings": [
    {
      "type": "image_picker",
      "id": "desktop_image",
      "label": "Desktop Image"
    },
    {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "Mobile Image"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Contact"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Sub-Heading",
      "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    }
  ],
  "presets": [
    {
      "name": "Contact Page Banner"
    }
  ]
}
{% endschema %}
