<section class="map-section  py-xl-5 py-lg-5 py-md-4 py-sm-4 py-4 bg-light">
  <div class="container-xl">
    <div class="map my-3">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5463.665755038201!2d77.30268215390622!3d28.612262500000003!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390ce5005a8523b1%3A0x8e18dcdeccf3d50d!2sChand%20Central%20(Miraj%20Cinemas)!5e1!3m2!1sen!2sin!4v1740575546512!5m2!1sen!2sin"
        width="600"
        height="450"
        style="border:0;"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>
</section>
{% schema %}
{
  "name": "Contact Page Map",
  "settings": [],
  "presets": [
    {
      "name": "Contact Page Map"
    }
  ]
}
{% endschema %}
