<div class="page-width category-circles-strip-container">
  {% for block in section.blocks %}
    <a href="{{ block.settings.link }}">
      <img src="{{ block.settings.image |  image_url  }}">
    </a>
  {% endfor %}
</div>
<style>
  .category-circles-strip-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: start;
    overflow-x: auto;
    margin-bottom: 15px;
    margin-top: 5px;
  }
  .category-circles-strip-container a {
    width: 60px;
    height: auto;
  }
  .category-circles-strip-container a img {
    width: 100%;
    height: auto;
  }
  @media (max-width: 756px) {
    .category-circles-strip-container a {
      min-width: 80px;
    }
    .category-circles-strip-container {
      justify-content: start;
    }
  }
</style>
{% schema %}
{
  "name": "Category Circles Strip",
  "settings": [],
  "blocks": [
    {
      "type": "category",
      "name": "Category",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Category Circles Strip"
    }
  ]
}
{% endschema %}
