<header class="site-header">
  <div class="header-top">
    <div class="container custom-width">
      <div class="row">
        <div class="col-md-4">
          <div class="custom-text d-flex align-items-center">
            <div class="text-icon1 position-relative"><i class="fa-solid fa-location-dot"></i> Store Location</div>
            <div class="text-icon2">
              <i class="fa-regular fa-envelope Vicon-md"></i>
              <a href="mailto:zever4u.com">support@zever4u.com</a>
            </div>
          </div>
        </div>

        <div class="col-md-4 text-center">
          Summer sale discount off 30%! <a href="#" class="text-brand">Shop Now</a>
        </div>

        <div class="col-md-4 top-info-block">
          <ul class="d-inline mb-0 ps-0 position-relative">
            <li>
              <a class="me-3" href="#"
                ><img src="images/india.jpg" class="pe-2 Vicon">INR <i class="fa-solid fa-angle-down"></i
              ></a>
            </li>
            <li>
              <a class="" href="#"> English <i class="fa-solid fa-angle-down"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="header-brand">
    <div class="container-xl custom-width">
      <div class="row align-items-center">
        <div class="col-sm-3 header-logo">
          <a href="#"><img class="header-logo-img" src="images/zever4u-logo.png" alt="Zever4U"></a>
        </div>
        <div class="col-sm-6">
          <nav class="header-navbar navbar navbar-expand-lg">
            <div class="container-xl">
              <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#mobileNavbarCollapse"
                aria-controls="mobileNavbarCollapse"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="mobileNavbarCollapse">
                <ul class="navbar-nav mx-auto">
                  <li class="nav-item dropdown dropdown-mega position-static my-mega">
                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside"
                      >Shop by Category</a
                    >
                
                  </li>
                  <li class="nav-item dropdown">
                    <a
                      class="nav-link dropdown-toggle"
                      href="#"
                      role="button"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                      >Latest Collections</a
                    >
                    <!--
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Latest Collections</a></li>
                        <li><a class="dropdown-item" href="#">Latest Collections</a></li>
                      </ul>
                    -->
                  </li>
                  <li class="nav-item dropdown">
                    <a
                      class="nav-link dropdown-toggle"
                      href="#"
                      role="button"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                      >Best Sellers</a
                    >
                    <!--
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Best Sellers</a></li>
                        <li><a class="dropdown-item" href="#">Best Sellers</a></li>
                      </ul>
                    -->
                  </li>
                  <li class="nav-item dropdown">
                    <a
                      class="nav-link dropdown-toggle"
                      href="#"
                      role="button"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                      >Women’s Jewellery</a
                    >
                    <!--
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Women’s Jewellery</a></li>
                        <li><a class="dropdown-item" href="#">Women’s Jewellery</a></li>
                      </ul>
                    -->
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        </div>
        <div class="col-sm-3 header-account">
          <div class="header-account-wrap">
            <div class="header-account-item search-box">
              <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
            </div>
            <div class="header-account-item user-cart">
              <a href="#"><i class="fa-regular fa-user"></i> </a>
            </div>

            <div class="header-account-item header-wishlist">
              <a href="#"> <span class="count-circle">3</span> <i class="fa-regular fa-heart"></i> </a>
            </div>
            <div class="header-account-item header-cart">
              <a href="#"> <span class="count-circle">3</span> <i class="fa-solid fa-cart-shopping"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- HEADER NAVBAR -->
</header>
{% schema %}
{
  "name": "Header",
  "blocks": [
    {
      "type": "header_settings",
      "name": "Header Settings",
      "settings": [
          {
            "type": "image_picker",
            "id": "logo",
            "label": "Main Logo"
          },
          {
            "type": "text",
            "id": "location",
            "label": "Location",
            "default": "Enter Store Location"
          },
          {
            "type": "text",
            "id": "email",
            "label": "Email",
            "default": "Enter Store Email"
          },
          {
            "type": "richtext",
            "id": "discount_text",
            "label": "Discount Content",
            "default": "<p>Enter Discount Description</p>"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Header Settings",
      }
    ]
}
{% endschema %}
