<section class="products-section py-5">
  <div class="container-xl custom-width">
    <h2 class="all_heading text-center">{{ section.settings.trending_heading }}</h2>
    <div class="products-slider swiper mt-md-5 mt-3">
      <div class="swiper-wrapper">
        {%- for product in section.settings.collection.products limit: section.settings.products_to_show -%}
          <div class="swiper-slide">
            <div class="product-card">
              {% render 'card-product',
                card_product: product,
                show_rating: section.settings.show_rating,
                section_id: section.id,
                show_secondary_image: true,
                quick_add: 'standard'
              %}
            </div>
          </div>
        {%- endfor -%}
      </div>
      <div class="swiper-pagination"></div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
  </div>
</section>
{% schema %}
{
  "name": "Trending Section",
  "settings": [
    {
      "type": "text",
      "id": "trending_heading",
      "default": "Trending Products",
      "label": "Heading"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Select Collection"
    },
    {
      "type": "range",
      "id": "products_to_show",
      "min": 2,
      "max": 25,
      "step": 1,
      "default": 4,
      "label": "Product to Show"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 6,
      "step": 1,
      "default": 4,
      "label": "Columns"
    },
    {
      "type": "checkbox",
      "id": "show_view_all",
      "default": true,
      "label": "Show View All Button"
    },
    {
      "type": "checkbox",
      "id": "show_rating",
      "default": false,
      "label": "Show Rating"
    }
  ],
  "presets": [
    {
      "name": "Trending Section"
    }
  ]
}
{% endschema %}
